@charset "UTF-8";

/*
    Paleta de Cores;
    Verde: #49a09d
    Lilás: #5f2c82
*/

:root {
    --verde: #49a09d;
    --lilas: #5f2c82;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    background-color: var(--lilas);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 520px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.572);

    /* 
    SEMPRE QUE TIVER UMA TRANSFORMAÇÃO/TRANSIÇAO PARA FAZER, COLOQUE PARA SER FEITO NO FINAL. 
    */
    transform: translate(-50%, -50%);    
    transition: width 0.4s, height 0.4s;
    transition-timing-function: ease;
}

div#imagem {
    background: var(--lilas) url(../images/pattern.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    display: block;
}

div#formulario {
    display: block;
    padding: 10px;
}

div#formulario h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario p {
    font-size: 1.1em;
}

form > div.campo {
    background-color: var(--lilas);
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

form label {
    display: none;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo input {
    background-color: aquamarine;
    font-size: 1em;
    width: calc(100% - 48px);
    height: 73%;
    border: none;
    border-radius: 8px;
    /* SEMPRE QUE TIVER UMA TRANSFORMAÇÃO/TRANSIÇAO PARA FAZER, COLOQUE PARA SER FEITO NO FINAL. */
    transform: translateY(-10px);
}

div.campo input:focus-within {
    background-color: white;
    outline: none;
}

input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--verde);
    color: white;
    border: none;
    border-radius: 5px;
}

input[type=submit]:hover {
    background-color: #286e6c;
    cursor: pointer;
}

form a.button {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #f4ffff;
    border: 1px solid #49a09d;
    border-radius: 5px;
    text-decoration: none;
    color: darkcyan;
    padding-top: 5px;
    margin-top: 5px;
}

form a.button:hover {
    cursor: pointer;
    background-color: aquamarine;
}

form > a.button > span {
    font-size: 0.8em;
}

